/*
@author: http://coderexample.com
@reference : http://codepen.io/Akiletour/pen/emGOgd
*/

.dataTables_processing {
left: 50%;
position: absolute;
top: 50%;
z-index: 100;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
/*
.dataTables_wrapper .dataTables_processing{
	position: absolute!important;
	top: 50%!important;
	right: 0!important;
	bottom: 0!important;
	margin-left: 50%!important;
	margin-top: 15px!important;
	background:none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}

div.dataTables_processing { z-index: 1; }

.dataTables_processing > div {
 content: "";
  width: 10px;
  height: 10px;
  background: #2196F3;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}
.dataTables_processing > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.dataTables_processing > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.dataTables_processing > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.dataTables_processing > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  90% {
    width: 40px;
    height: 15px;
  }
  95% {
    left: 100px;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}

@keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  90% {
    width: 20px;
    height: 10px;
  }
  95% {
    left: 100px;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}
*/